NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://kapdajunction:YOUR_PASSWORD@cluster0.o2gaoxi.mongodb.net/kapda_junction?retryWrites=true&w=majority
CORS_ORIGIN=http://localhost:4200,http://localhost:4201
JWT_SECRET=your-super-secret-jwt-key-change-in-production
